header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #062b88ea;
  color: rgb(224, 215, 215);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

